body {
    background-image: url(fond.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

h1 {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40pt;
}

.navbar {
    background-color: rgb(255, 255, 255);
}

.portfolio {
    margin-top: 100px;
    text-align: center;
    color: white;
}

h2 {
    margin-bottom: 30px;
    position: relative;
    top: -20px;
    text-align: center;
}

.fond {
    width: 100%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-repeat: space;
}

.carte {
    border-radius: 5%;
}

.logodclic {
    border-radius: none;
}

.noms {
    background-color: aqua;
    height: 60px;
    width: 100%;
    text-align: center;
}

.card-text {
    color: #fff;
    text-align: center;
}

.trait {
    height: 5px;
    width: 250px;
    background-color: blue;
    align-self: center;
}

.card-footer {
    background-color: rgb(231, 57, 57);
}

/* .card-body{
   background-color:#25a1d5 ;

} */


p {
    text-align: justify;
    font-size: x-large;
}

.bleu {
    background-color: #2eacdf;
}

.vert {
    background-color: #86ce6b;
}

.violet {
    background-color: #9c4f83;
}

.jaune {
    background-color: #f3cb1b;
}

.rouge {
    background-color: #ff6d56;
}

.noire {
    background-color: #eb7f1b;
}

.copilogo {
    color: white;
    position: absolute;
    margin-top: 35px
}

footer {

    position: sticky;
    background-color: gray;
    height: 70px;
    left: 0;
    right: 0;

}

.moments {
    margin-top: 40px;
    color: #000;
    background-color: white;
    padding: 5px;
}






/* A PROPOS */



.a-propos {
    color: #fff;
    text-align: justify;
}

.texte-1 {
    font-size: 22.5pt;
    font-weight: bold;
}

.texte-2 {
    font-size: 16.5pt;
    color: #fff;
}

/* .rr{
    background-color: red;
} */

.gras {
    font-weight: bold;
}

.texte-2 ul li ul li a {
    text-decoration: none;
    color: #2eacdf;
}


h3 {
    color: #fff;
    font-size: 50pt;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}


.trait-1 {
    height: 5px;
    width: 190px;
    background-color: #f3cb1b;
}

.cinq p {
    color: #fff;
    text-align: center;
    font-size: 16.5pt;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.trait-2{
    height: 5px;
    width: 190px;
    background-color: #86ce6b;
}

.trait-3{
    height: 5px;
    width: 190px;
    background-color: #9c4f83;
}

.trait-4{
    height: 5px;
    width: 190px;
    background-color: #ff6d56;
}

.trait-5{
    height: 5px;
    width: 190px;
    background-color: #2eacdf;
}

.chiffres{
    justify-content: space-between;
}






/* TEMOIGNAGES */


.citation{
    color: #fff;
    font-size: 22pt;
}

.image-tem{
    border-radius: 2%;
    border: solid 3px #fff;
}



/* CONTACTS */


.appel-2{
    text-align: center;
    font-size: 22.5pt;
    font-weight: bold;
    background-color: #86ce6b;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}

.appel-1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.appel-2 a{
    text-decoration: none;
    color: #fff;
}